@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * COLORS
 */
body {
  @apply bg-zinc-100 text-zinc-800;
  .uui-subtle {
    @apply text-zinc-400;
  }
  .uui-card {
    @apply bg-zinc-400 text-zinc-800;
    opacity: 0.8;
  }
}
body.dark {
  @apply bg-gray-800 text-zinc-100;
  .uui-subtle {
    @apply text-slate-500;
  }
  .uui-card {
    @apply bg-gray-600 text-zinc-200;
    opacity: 0.8;
  }
}

/*
 * SHAPES
 */
input,
button,
textarea,
.uui-card {
  border-radius: 0.25rem;
}
